.sheet_detail,
.detail_customer {
  margin-top: 5rem; }
  .sheet_detail a,
  .detail_customer a {
    color: #c71dd2; }
  .sheet_detail ul,
  .detail_customer ul {
    width: 60%;
    margin: 0 auto 1.5rem auto; }
  .sheet_detail h2,
  .detail_customer h2 {
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    color: white;
    font-size: 2rem;
    margin-bottom: 1rem; }
  .sheet_detail h3,
  .detail_customer h3 {
    text-align: center;
    text-transform: uppercase; }
  .sheet_detail .head_sheet,
  .detail_customer .head_sheet {
    text-align: center; }
    .sheet_detail .head_sheet p,
    .detail_customer .head_sheet p {
      margin-bottom: 0rem;
      font-size: 1.2rem; }
  .sheet_detail .card,
  .detail_customer .card {
    color: black; }
  .sheet_detail section,
  .detail_customer section {
    width: 60%;
    margin: auto; }
    .sheet_detail section label,
    .detail_customer section label {
      color: white;
      text-transform: uppercase;
      font-size: 1rem; }
    .sheet_detail section #id_thumbnail,
    .detail_customer section #id_thumbnail {
      color: white; }
  .sheet_detail .modal,
  .detail_customer .modal {
    color: black; }

.sheet_detail {
  padding: 1rem; }
  .sheet_detail h2 {
    font-size: 2.5rem; }
  .sheet_detail h5 {
    text-align: center; }
  .sheet_detail a {
    font-size: 1.2rem; }
  .sheet_detail .core_sheet h4 {
    text-transform: uppercase;
    font-size: 1.5rem; }
  .sheet_detail .core_sheet div {
    display: inline-block;
    text-transform: uppercase; }
  .sheet_detail .core_sheet .password {
    border: 3px solid #c71dd2;
    display: block;
    padding: .5rem; }
  .sheet_detail .core_sheet p {
    border: 3px solid #c71dd2;
    font-size: 1.2rem;
    height: 200px;
    padding: .5rem; }
  .sheet_detail .core_request h4 {
    text-transform: uppercase;
    font-size: 1rem; }
  .sheet_detail .core_request p {
    border: 3px solid #c71dd2;
    font-size: 1.2rem;
    padding: .5rem; }
  .sheet_detail .footer_sheet h4 {
    font-size: 2rem; }
  .sheet_detail .footer_sheet p {
    display: inline-block;
    margin-right: 1.5rem;
    font-size: 1.2rem; }
    .sheet_detail .footer_sheet p i {
      font-size: 1.5rem; }

.customer_list h2,
.sheet_list h2,
.request_list h2,
.archive_list h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 3.5rem;
  font-weight: bold; }

.change-true {
  background-color: transparent; }

.customer_list h2 {
  color: #43af3d; }

.sheet_list h2 {
  color: #4286f4; }

.archive_list h2 {
  color: #f9098b; }

.request_list h2 {
  color: #f92a2a; }

.search {
  width: 40%;
  margin: 2rem auto 0 auto;
  margin-bottom: 3rem; }
  .search button {
    border: 1px solid white; }
    .search button i {
      color: white; }
    .search button:hover {
      background-color: black; }
  .search .field {
    width: 90%;
    border-radius: 5px;
    height: 38px; }

.table {
  width: 70%;
  margin: 1rem auto;
  color: white; }
  .table .request_head_list {
    background-color: #f92a2a; }
  .table .archive_head_list {
    background-color: #f9098b; }
  .table .customer_head_list {
    background-color: #43af3d; }
  .table .sheet_head_list {
    background-color: #4286f4; }
  .table a {
    color: white; }
  .table th {
    color: white;
    text-transform: uppercase; }
  .table .sheet_table:nth-child(even) {
    background-color: #2f599e; }
  .table .customer_table:nth-child(even) {
    background-color: #32752e; }
  .table .archive_table:nth-child(even) {
    background-color: #bc0769; }
  .table .request_table:nth-child(even) {
    background-color: #9e2929; }

.change_important_true,
.change_important_false,
.archive {
  display: inline-block; }

.navbar {
  width: 100%;
  background-color: #696969;
  box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.75); }
  .navbar ul {
    margin: 0; }
    .navbar ul .dropdown-toggle::after {
      display: none; }
    .navbar ul li {
      text-transform: uppercase; }
      .navbar ul li .nav-link {
        color: white;
        font-size: 2em;
        font-weight: bold; }
      .navbar ul li .nav-link:hover {
        color: #343A40;
        transition-duration: 0.5s; }

body {
  background-color: #343A40;
  font-family: Arial, sans-serif; }

.col-12 {
  padding: 0;
  margin-top: 50px;
  color: white; }

.form_update section {
  width: 60%;
  margin: 2rem auto 0 auto; }

/*# sourceMappingURL=style.css.map */
