{% extends "gestion_intervention/base.html" %}
{% load widget_tweaks %}

{% block content %}


<div class="col-12 detail_customer">

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="create-tab" data-toggle="tab" href="#create_sheet" role="tab" aria-controls="home"
                aria-selected="true"> Créer une fiche</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" id="list-tab" data-toggle="tab" href="#list_sheet" role="tab" aria-controls="profile"
                aria-selected="false">Anciennes Fiches</a>
        </li>
        <li class="nav-item ml-auto">
            <a class="nav-link" href="{% url 'customer-update' customer.slug customer.pk %}"><i class="fas fa-edit"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-trash-alt"></i></a>
        </li>
    </ul>

    <div class="tab-content" id="myTabContent">



        <!-- CREATE SHEET -->

        <div class="tab-pane fade show active p-2" id="create_sheet" role="tabpanel" aria-labelledby="create-tab">
            <div class="row">
                <div class="col-12">
                    <h2>Date d'intervention : {{ date }}</h2>
                    <h3>{{customer.first_name}} {{customer.last_name}}</h3>
                    <section class="head_sheet">

                        <p>{{customer.phone}} </p>
                        <p>{{customer.email}} </p>
                    </section>

                    <section>
                        <form action="{% url 'sheet-create' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    {{ sheet_form.customer.as_hidden}}
                                </div>
                                <div class="form-group col-md-12">
                                    <label>statut</label>
                                    {{ sheet_form.statut|add_class:"form-control"}}
                                </div>
                                {% for value, text in sheet_form.other.field.choices %}
                                <div class="form-group col-md-3">
                                    <input id="id_other_{{ forloop.counter0 }}" name="{{ sheet_form.other.name }}" type="checkbox"
                                        value="{{ value }}">
                                    <label>{{ text }}</label>
                                </div>
                                {% endfor %}
                                <div class="form-group col-md-12">
                                    <label>Motif</label>
                                    {{ sheet_form.reason|add_class:"form-control"}}
                                </div>
                                <div class="form-group col-md-12">
                                    <label>Solution</label>
                                    {{ sheet_form.resolution|add_class:"form-control"}}
                                </div>
                                <div class="form-group col-md-12">
                                    <label>Observation</label>
                                    {{ sheet_form.comment|add_class:"form-control"}}
                                </div>
                                <div class="form-group col-md-1">
                                    <label>Garanti</label>
                                    {{ sheet_form.guarantee|add_class:"form-control"}}
                                </div>
                            </div>
                            <input type="submit" name="submit" value="ajouter" class="updateBtn">
                        </form>
                    </section>
                </div>
            </div>
        </div>


        <!-- LIST TABS -->

        <div class="tab-pane fade" id="list_sheet" role="tabpanel" aria-labelledby="list-tab">
            <div class="row">
                <div class="col-12">
                    <section>
                        <div class="row">
                            {% for sheet in sheets %}
                            <div class="col-4 mb-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">{{sheet.datepublished}}</h5>
                                        <p class="card-text">{{sheet.reason}}</p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}