{% extends "gestion_intervention/base.html" %}
{% load static phonetags %}
{% block content %}

<div class="col-12 customer_list ">
    <h2>Clients</h2>
    <form class="search mx-auto" action="#" method="get">
        <input class="field" id="myCustomerInput" type="search" name="q" placeholder="Rechercher" class="form-control">
        <button class="btn " type="submit"><i class="fas fa-search"></i></button>
    </form>

    <table class="table table-hover">
        <thead class="customer_head_list">
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">Telephone</th>
                <th scope="col">Email</th>
            </tr>
        </thead>

        <tbody>
            {% for customer in object_list %}

            <tr class="customer_table customerName">
                <td scope="row"><a href="{% url 'customer-detail' customer.slug customer.id %}">
                        {% filter upper %}{{customer.last_name}} {% endfilter %} </a></td>
                <td> <a href="{% url 'customer-detail' customer.slug customer.id %}"> {{customer.first_name}}</a></td>
                <td> <a href="{% url 'customer-detail' customer.slug customer.id %}">{{customer.phone|formatphone}}</a></td>
                <td> <a href="{% url 'customer-detail' customer.slug customer.id %}">{{customer.email}}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}