<div class="col-12">
    <nav class="navbar main_nav fixed-top navbar-expand-lg navbar-dark bg-dark ">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'customer-create' %}">Create</a>
                </li>
            </ul>
            {% comment %} <ul class="navbar-nav ">
                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="#">plop</a>
                </li>
                {% endif %}
                <li class="nav-item active">
                    <a class="nav-link" href="/logout"></a>
                </li>
            </ul> {% endcomment %}
        </div>
    </nav>
</div>