<div class="col-12">
    <nav class="navbar main_nav fixed-top navbar-expand-lg navbar-dark bg-dark ">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'customer-list' %}">Clients <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'sheet-list' %}">Fiches</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'request-list' %}">Requêtes</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-plus"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'customer-create' %}">Client</a>
                        <a class="dropdown-item" href="{% url 'sheet-create' %}">Fiche</a>
                        <a class="dropdown-item" href="{% url 'request-create' %}">Requête</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>