{% extends "gestion_intervention/base.html" %}
{% load widget_tweaks %}

{% block extra_css %}
{% if is_pdf == True %}
<style>
    body {
        background-color: white;
        font-weight: bold;
    }

    .col-12 {
        color: black;
    }

    .sheet_detail {
        margin: 0;
    }

    .sheet_detail h2 {
        color: black;
    }

    .sheet_detail .core_sheet h4{
        font-size : 2rem;
    }

    .sheet_detail section{
        width : 85%;
    }
</style>
{% endif %}
{% endblock %}

{% block content %}

<div class="col-12 sheet_detail">
    {% if is_pdf != True %}
    <ul class="nav nav-tabs">
        <li class="nav-item ml-auto"><a class="nav-link" href="{% url 'sheet-pdf-detail' sheet.id %}"> <i class="fas fa-file-pdf"></i>
            </a></li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'sheet-update' sheet.id %}"> <i class="fas fa-edit"></i></a></li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="modal" data-target="#exampleModal" href="#"><i class="fas fa-trash-alt"></i></a>
        </li>
    </ul>
    {% endif %}
    <h5>Fiche N°{{sheet.id}}</h5>
    <h2>Date d'intervention : {{ sheet.datepublished }}</h2>
    <h3>{{sheet.customer.last_name}} {{sheet.customer.first_name}} </h3>
    <section class="head_sheet">

        <p>{{sheet.customer.phone}} </p>
        <p>{{sheet.customer.email}} </p>
    </section>

    <section class="core_sheet">
        <h4>Motif</h4>
        <p>{{sheet.reason}}</p>

        <h4>Solution</h4>
        <p>{{sheet.resolution}}</p>

        <h4>Observation</h4>
        <p>{{sheet.comment}}</p>
    </section>

    <section class="footer_sheet">
        <h4>Test de base Effectué</h4>
        <p><i class="far fa-square"></i> Antivirus</p>
        <p><i class="far fa-square"></i> S.M.A.R.T</p>
        <p><i class="far fa-square"></i> Nettoyage interne</p>
        <p><i class="far fa-square"></i> Mémoire</p>
        <p><i class="far fa-square"></i> Internet</p>

        <h4>Autres</h4>
        <p>{{sheet.other}}</p>
    </section>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Demande de Confirmation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Dorian vous demande si vous etes certain de vouloir supprimer cette fiche</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a class="btn btn-secondary" href="{% url 'sheet-delete' sheet.id %}">Confirmer</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}