{% extends "gestion_intervention/base.html" %}

{% block content %}

<div class="col-12">
    <form class="search mx-auto" action="#" method="get">
        <input class="field" type="search" name="q" placeholder="Rechercher" class="form-control">
        <input type="submit" name="search" value="Search" class="btnsearch">
    </form>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">N°</th>
                <th scope="col">Customer</th>
                <th scope="col">date</th>
            </tr>
        </thead>

        <tbody>
            {% for sheet in object_list %}

            <tr>
                <td><a href="{% url 'sheet-detail' sheet.id %}">{{sheet.id}}</a></td>
                <td scope="row"><a href="#">{{sheet.customer.first_name}} {{sheet.customer.last_name}}</a></td>
                <td>{{sheet.date}}</td>
            </tr>

            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}