{% extends "gestion_intervention/base.html" %}
{% load phonetags %}
{% block content %}

<div class="col-12 sheet_list">
    <h2>Fiches d'Interventions</h2>

    <form class="search mx-auto" action="#" method="get">
        <input class="field" id="myCustomerInput" type="search" name="q" placeholder="Rechercher" class="form-control">
        <button class="btn " type="submit"><i class="fas fa-search"></i></button>
    </form>

    <table class="table table-hover">
        <thead class="sheet_head_list">
            <tr>
                <th scope="col">N°</th>
                <th scope="col">Client</th>
                <th scope="col">Date</th>
                <th scope="col">statut</th>
                <th scope="col">Options</th>
            </tr>
        </thead>

        <tbody>
            {% for sheet in object_list %}

            <tr class="sheet_table customerName">
                <td><a href="{% url 'sheet-detail' sheet.id %}">{{sheet.id}}</a></td>
                <td scope="row"><a href="{% url 'sheet-detail' sheet.id %}">{% filter upper %}{{sheet.customer.last_name}}{% endfilter %}
                        {{sheet.customer.first_name}} {% if sheet.important == True %}<i class="fas fa-exclamation-triangle text-danger mr-1"></i>{% endif %}</a></td>
                <td><a href="{% url 'sheet-detail' sheet.id %}">{{sheet.datepublished}}</a></td>
                <td><a href="{% url 'sheet-detail' sheet.id %}">{{sheet.statut}}</a></td>
                <td>
                    {% if sheet.important == True %}
                    <form class="change_important_false" action="{% url 'change-sheet-important-false' sheet.id %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="sheet_id" value="{{sheet.id}}">
                        <button class="btn btn-light change-true text-danger" type="submit"><i class="fas fa-exclamation-triangle"></i></button>
                    </form>
                    {% else %}
                    <form class="change_important_true" action="{% url 'change-sheet-important-true' sheet.id %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="sheet_id" value="{{sheet.id}}">
                        <button class="btn btn-light change-true text-muted" type="submit"><i class="fas fa-exclamation-triangle"></i></button>
                    </form>
                    {% endif %}
                    <form class="archive" method='POST' action="{% url 'change-sheet-archive' sheet.id %}">
                        {% csrf_token %}
                        <input type="hidden" name="sheet_id" value="{{sheet.id}}">
                        <button class="btn btn-light change-true text-muted" type="submit"><i class="fas fa-archive"></i></button>
                    </form>
                </td>
            </tr>

            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}
{% block extra_js %}
<script>
    $(document).ready(function() {


        $('.change_important_true').submit(function(event) {
            var $form = $(this);
            var url = $(this).attr('action');
            var data = $(this).serializeArray();

            $.ajax({
                url: url,
                data: data,
                method: "post",
                success: function(response) {
                    var actual_sheet = $($form[0][1]).val();
                    var new_form =
                        `<form class="change_important_false" action="/sheet/${actual_sheet}/change/false" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="sheet_id" value="${actual_sheet}">
                        <button class="btn btn-light change-true text-danger" type="submit"><i class="fas fa-exclamation-triangle"></i></button>
                    </form>`;
                    $form.replaceWith(new_form);

                    // ADD AJAX FUNCTION TO NEW FORM
                    $('.change_important_false').submit(function(event) {
                        var $form = $(this);
                        var url = $(this).attr('action');
                        var data = $(this).serializeArray();

                        $.ajax({
                            url: url,
                            data: data,
                            method: "post",
                            success: function(response) {
                                var actual_sheet = $($form[0][1]).val();
                                var new_form =
                                    `<form class="change_important_true" action="/sheet/${actual_sheet}/change/true" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="sheet_id" value="${actual_sheet}">
                                    <button class="btn btn-light change-true text-muted" type="submit"><i class="fas fa-exclamation-triangle"></i></button>
                                </form>`;
                                $form.replaceWith(new_form);
                            }
                        })
                        event.preventDefault();
                    })

                }
            })
            event.preventDefault();

        })

        $('.change_important_true').click(function() {
            var customer_sheet = $(this).closest('tr').children('td:nth-child(2)')
            customer_sheet.append('<i class="fas fa-exclamation-triangle text-danger mr-1"></i>')
        });


        $('.change_important_false').submit(function(event) {
            var $form = $(this);
            var url = $(this).attr('action');
            var data = $(this).serializeArray();

            $.ajax({
                url: url,
                data: data,
                method: "post",
                success: function(response) {
                    var actual_sheet = $($form[0][1]).val();
                    var new_form =
                        `<form class="change_important_true" action="/sheet/${actual_sheet}/change/true" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="sheet_id" value="${actual_sheet}">
                        <button class="btn btn-light change-true text-muted" type="submit"><i class="fas fa-exclamation-triangle"></i></button>
                    </form>`;
                    $form.replaceWith(new_form);


                    // ADD AJAX FUNCTION TO NEW FORM
                    $('.change_important_true').submit(function(event) {
                        var $form = $(this);
                        var url = $(this).attr('action');
                        var data = $(this).serializeArray();

                        $.ajax({
                            url: url,
                            data: data,
                            method: "post",
                            success: function(response) {
                                var actual_sheet = $($form[0][1]).val();
                                var new_form =
                                    `<form class="change_important_false" action="/sheet/${actual_sheet}/change/false" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="sheet_id" value="${actual_sheet}">
                                    <button class="btn btn-light change-true text-danger" type="submit"><i class="fas fa-exclamation-triangle"></i></button>
                                </form>`;
                                $form.replaceWith(new_form);
                            }
                        })
                        event.preventDefault();

                    })
                }
            })
            event.preventDefault();
        })

        $('.change_important_false').click(function() {
            var customer_sheet_text = $(this).closest('tr').children('td:nth-child(2)').text()
            var customer_sheet = $(this).closest('tr').children('td:nth-child(2)')
            customer_sheet.text(' ')
            customer_sheet.text(customer_sheet_text)
        })




        $('.archive').submit(function(event) {
            var url = $(this).attr('action');
            var data = $(this).serializeArray();

            $.ajax({
                url: url,
                data: data,
                method: "post",
                success: function(response) {}
            })
            event.preventDefault();

        })

        $('.archive').submit(function() {
            $(this).closest('tr').remove()
        })
    });
</script>

{% endblock %}