{% extends "gestion_intervention/base.html" %}

{% block content %}

<div class="col-12 sheet_list">
    <h2>Fiches d'Interventions</h2>

    <form class="search mx-auto" action="#" method="get">
        <input class="field" id="myCustomerInput" type="search" name="q" placeholder="Rechercher" class="form-control">
        <button class="btn " type="submit"><i class="fas fa-search"></i></button>
    </form>

    <table class="table table-hover">
        <thead class="sheet_head_list">
            <tr>
                <th scope="col">N°</th>
                <th scope="col">Client</th>
                <th scope="col">Date</th>
                <th scope="col">statut</th>
            </tr>
        </thead>

        <tbody>
            {% for sheet in object_list %}

            <tr class="sheet_table customerName">
                <td><a href="{% url 'sheet-detail' sheet.id %}">{{sheet.id}}</a></td>
                <td scope="row"><a href="{% url 'sheet-detail' sheet.id %}">{% filter upper %}{{sheet.customer.last_name}}{% endfilter %} {{sheet.customer.first_name}} </a></td>
                <td><a href="{% url 'sheet-detail' sheet.id %}">{{sheet.datepublished}}</a></td>
                <td><a href="{% url 'sheet-detail' sheet.id %}">{{sheet.statut}}</a></td>
            </tr>

            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}